body {
  background-color: rgb(238, 238, 238);
  width: 90%;
  margin: 0 auto;
}
.book-list, .book-filter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.book-card-container {
  cursor: pointer;
  max-height: 200px;
  min-width: 250px;
  max-width: 250px;
  flex: 1;
  margin-bottom: 15px;
}


.main-book-card {
  display: flex; flex-direction: column;justify-content: space-between;
  padding: 10px 10px;
  min-height: 150px;
}

.book-detail-card {
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 10px;
  width: 40%;
}

.related-book-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.related-book-card {
  background-color: rgb(225, 236, 238);
  border: .5px solid rgb(226, 224, 224);
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.add-modal {
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  border-radius: 10px;
}

.modal-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}


h2 {
  margin: 0;
}


@media only screen and (min-width: 480px) and (max-width: 768px) {
  .book-list, .book-filter-container {
    flex-direction: row;
  }
  .book-card-container {
    margin: 15px 30px 15px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .book-list, .book-filter-container {
    flex-direction: row;
  }
  .book-card-container {
    margin: 15px 30px 15px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .book-list, .book-filter-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .book-card-container {
    margin: 15px 30px 15px 0;
  }
}