:root {
  /* define modal width */
  --modal-width-mobile: 90%; --modal-left-mobile: 5%;
  --modal-width-tablet: 60%; --modal-left-tablet: 20%;
  --modal-width-destop: 40%; --modal-left-desktop: 30%;

}

body {
  background-color: rgb(238, 238, 238);
  width: 90%;
  margin: 0 auto;
}
.book-list {
  display: grid;
  grid-template-rows: 1fr;
}

.book-card-container {
  cursor: pointer;
  flex: 1;
  margin-bottom: 15px;
}


.main-book-card {
  display: flex; flex-direction: column;justify-content: space-between;
  padding: 10px 10px;
  min-height: 150px;
  flex: 1;
}

.book-detail-card {
  margin: 0 auto;
  position: absolute;
  /* this need to be changed in smaller devices */
  top: 20%; 
  left: 5%;
  border-radius: 10px;
  width: 90%;
}

.book-filter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.book-filter-card {

}


.related-book-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.related-book-card {
  background-color: rgb(225, 236, 238);
  border: .5px solid rgb(226, 224, 224);
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px; right: 5%;
}

.add-modal {
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: var(--modal-left-mobile);
  width: var(--modal-width-mobile);
  border-radius: 10px;
}

.modal-content {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}


h2 {
  margin: 0;
}


@media only screen and (min-width: 480px) and (max-width: 768px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .book-card-container {
    margin: 15px 30px 15px 0;
  }
  .book-detail-card {
    width: var(--modal-width-tablet);
    left: var(--modal-left-tablet);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);    
  }
  .book-card-container {
    margin: 15px 30px 15px 0;
  }
  .book-detail-card, .add-modal {
    width: var(--modal-width-tablet);
    left: var(--modal-left-tablet);
  }
}

@media only screen and (min-width: 1024px) {
  .book-list {
    grid-template-columns: repeat(4, 1fr);    
  }
  .book-card-container {
    margin: 15px 30px 15px 0;
  }
  .book-detail-card, .add-modal {
    width: var(--modal-width-destop);
    left: var(--modal-left-desktop);
  }
}